



.sideBarDashboard{
      height: calc( 100vh - var(--headerHeight) - var(--sideToolBarHeight));
      width: var(--sideNavBarWidth);
      position: fixed;
      z-index: 1;
      top:calc( var(--headerHeight) + var(--sideToolBarHeight) +  10px );
      left: 0.5%;
      background-color: var(--sideToolBarBkgColor);/*var(--sideNavBarDashBoardBkgColor);*/
      /*#c2c3c4;*/
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 0px;
      -ms-overflow-style: none;
      scrollbar-width: none;
}
