.ticketProp{

width: 100%;
display: flex;
background-color: white;
padding-bottom: 50px;
}

.params{
color: grey;
}


.info{
height:100%;
width:33%;
color: var(--ticketTextColor);
display: flex;
flex-direction: column;
}

.statusholder{
background-color: #25D366;
border-radius: 3px;
color: white;
padding: 2px;



}


.people{
height:100%;
width:33%;
display: flex;
flex-direction: column;
color: #364a61;
}

.dates{
height:100%;
width:33%;
display: flex;
flex-direction: column;
color: #364a61;
}

.proptitlebtn{
width:70px;
border-style: none;
background-color: white;
color: #364a61;
}











