.pendingdiv{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr) );
    /* grid-auto-rows: 250px ; */
    /* border-style: none; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* margin: 50px; */
    margin-top: 50px;
    
}

.status{
    background-color: #FAFAD2;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8ea3f5;
}
.assignmentBox{
    height: 200px;
    /*margin-top: 35px;
    */box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 8px;
}

.assignmentDetails{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #F0F0F0;
    
}
.assignmentTitle{
    color:#224c98;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.assignmentDescription{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
}


.totalCredit{
    margin-top: 0px;
    text-align: center;
   
}

.courseid{
    background-color: #dcf7ea;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    color: #8ed5b1;
}

