.pendingdiv {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  /* grid-auto-rows: 250px ; */
  /* border-style: none; */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* margin: 50px; */
  margin-top: 50px;
}

.status {
  /* background-color: #FAFAD2; */

  font-size: 14px;
  font-weight: bold;
  color: #8ed5b1;
  margin-top: 10px;
}
.assignmentBox {
  height: 100px;
  padding: calc(0.5 * var(--headerHeight));
  border: 1px solid #d3d3d3;
  border-radius: var(--cardBorderRadius);
  border-radius: 8px;
}

.assignmentDetails {
  font-size: 12px;
  border-left: 1px solid #000000;
  padding-left: 10px;
  /* background-color: #f0f0f0; */
}
.assignmentTitle {
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.totalCredit {
  margin-top: 10px;
  text-align: left;
  margin-right: 25px;
}

.courseid {
  width: 10%;
  background-color: #dcf7ea;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  height: 20px;
  margin-right: 05px;
  color: #8ed5b1;
}
.CreditId {
  display: flex;
  justify-content: space-between;
}

.progress {
  margin-top: 05px;
  padding: 0;
  width: 200%;
  height: 10px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  width: 36%;
  background: #aee1ae;
}

.assignmentidupload {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.uploadBtn {
  margin-left: 10px;
  padding-top: 5px;
}
.answerFileUpload {
  background-color: #224c98;
  border-style: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
}

.assignmentprogesssection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
