


.profileImageDiv{

position:relative;
height:60%;
padding:10%;
background-color:white;
display: flex;
flex-direction: column;
}




.userImage{
position: relative;
width: 100%;
height: 95%;
}

.changePicButton{
border-style: none;
height: 30px;
}


.changePicButton:hover{
color: white;
background-color:var(--themeColor);
cursor: pointer;

}







.imageUpload{

height: 5%;
width: 100%;
border-style: none;
cursor:pointer;
background-color: red;
}
.image_field{
background-color: green;
width:100%;
height: 100%;
text-decoration: none;
}


.submit_button{
width: 100%;
color: white;
background-color:var(--themeColor);
border-style: none;
margin-top:20px;
height:30px;
}

.submit_button:hover{
cursor: pointer;


}


